<mat-card *ngIf="post">
  <mat-card-title>Deletar Postagem</mat-card-title>
  <form #postForm="ngForm">

    <mat-form-field>
      <input matInput placeholder="Usuário" name="usuario"
        [(ngModel)]="post.name" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Título da postagem" name="title"
        [(ngModel)]="post.title" disabled>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Texto da postagem" name="body"
        [(ngModel)]="post.body" required
        matTextareaAutosize matAutosizeMinRows="3" disabled></textarea>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="deletePost()" color="warn"
    class="button-container">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
